<div class="gread" itemscope itemtype="http://schema.org/Book">

<div class="gread-float">
<br>
<a href="https://www.goodreads.com/book/show/89951.The_Rockefeller_File" ><img itemprop="bookFormat" border="0" alt="The Rockefeller File" src="https://images.gr-assets.com/books/1263429893m/89951.jpg" /></a><a href="https://www.goodreads.com/book/show/89951.The_Rockefeller_File">The Rockefeller File</a> by <a href="https://www.goodreads.com/author/show/51644.Gary_Allen">Gary Allen</a><br/>
My rating: <a href="https://www.goodreads.com/review/show/2078546718">3 of 5 stars</a><br />
<a href="https://www.goodreads.com/review/list/68293724-imam">View all my reviews</a>

</div>
<div class="gread-float">
<a href="https://www.goodreads.com/book/show/11084145-steve-jobs" ><img itemprop="bookFormat" alt="Steve Jobs" itemprop="publisher"  src="https://images.gr-assets.com/books/1327861368m/11084145.jpg" /></a>
<div class="gread-content">
<a href="https://www.goodreads.com/book/show/11084145-steve-jobs">Steve Jobs</a> by <a href="https://www.goodreads.com/author/show/7111.Walter_Isaacson">Walter Isaacson</a><br/>
My rating: <a href="https://www.goodreads.com/review/show/2017906353">4 of 5 stars</a><br />
<a href="https://www.goodreads.com/review/list/68293724-imam" itemprop="description">View all my reviews</a>
</div>
</div>

</div>
