<ul>
	<li class="gr">
		<a href="https://www.goodreads.com/book/show/40102.Blink"><img border="0" alt="Blink: The Power of Thinking Without Thinking" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1440763417l/40102._SX98_.jpg" />
		</a>
		<br>
		<a class="book-title" href="https://www.goodreads.com/book/show/40102.Blink">Blink: The Power of Thinking Without Thinking</a>
		<br>
		by <a href="https://www.goodreads.com/author/show/1439.Malcolm_Gladwell">Malcolm Gladwell</a>
		<small><em>Currently Reading</em></small>
		<p>
			Drawing on cutting-edge neuroscience and psychology and displaying all of the brilliance that made The Tipping Point a classic, Blink changes the way you'll understand.. <a href="https://www.goodreads.com/book/show/40102.Blink" target="_blank">more</a>
		</p>
	</li><br><hr class="new1">
	<li class="gr">
		<a href="https://www.goodreads.com/book/show/598506.How_to_Think_Like_Leonardo_da_Vinci">
		<img border="0" alt="How to Think Like Leonardo da Vinci: Seven Steps to Genius Every Day" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388180508l/598506._SX98_.jpg" />
		</a>
		<br>
		<a class="book-title" href="https://www.goodreads.com/book/show/598506.How_to_Think_Like_Leonardo_da_Vinci">How to Think Like Leonardo da Vinci: Seven Steps to Genius Every Day</a> <br>
		by <a href="https://www.goodreads.com/author/show/8426.Michael_J_Gelb">Michael J. Gelb
		</a>
		<small><em>Currently Reading</em></small>
		<p>
			Genius is made, not born. And human beings are gifted with an almost unlimited potential for learning and creativity. Now you can uncover your own..<a href="https://www.goodreads.com/book/show/598506.How_to_Think_Like_Leonardo_da_Vinci" target="_blank">more</a>
		</p>
	</li><br><hr class="new1">
	<li class="gr">
		<a href="https://www.goodreads.com/book/show/2612.The_Tipping_Point">
			<img border="0" alt="The Tipping Point: How Little Things Can Make a Big Difference" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1473396980l/2612._SX98_.jpg" />
		</a>
		<br>
		<a class="book-title" href="https://www.goodreads.com/book/show/2612.The_Tipping_Point">The Tipping Point: How Little Things Can Make a Big Difference</a><br> 
		by <a href="https://www.goodreads.com/author/show/1439.Malcolm_Gladwell">Malcolm Gladwell</a>
		<p>
			The tipping point is that magic moment when an idea, trend, or social behavior crosses a threshold, tips, and..<a href="https://www.goodreads.com/book/show/2612.The_Tipping_Point" target="_blank">more</a>
		</p>
	</li><br><hr class="new1">
	<li class="gr">
		<a href="https://www.goodreads.com/book/show/11084145-steve-jobs">
			<img border="0" alt="Steve Jobs" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1511288482l/11084145._SX98_.jpg" />
		</a>
		<br>
		<a class="book-title" href="https://www.goodreads.com/book/show/11084145-steve-jobs">Steve Jobs</a>
		<br> by <a href="https://www.goodreads.com/author/show/7111.Walter_Isaacson">Walter Isaacson</a>
		<p>
			Biografi eksklusif pencipta Apple, Steave Jobs (satu-satunya yang ditulis dengan kolaborasinya) oleh Walter Isaacson, penulis biografi terlaris Benjamin Franklin dan Albert Einstein..<a href="https://www.goodreads.com/book/show/11084145-steve-jobs" target="_blank">more</a>
		</p>
	</li>
</ul>