<!-- NAV -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.url }}">
      <small class="btn btn-default">
       <i class="fa fa-home"></i>
      </small>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-li" href="/blog/"><i class="fa fa-book text-primary"></i> Blog</a></li>
        <li><a class="nav-li" href="/about/"><i class="fa fa-user-secret text-primary"></i> About</a></li>
        <li><a class="nav-li" href="/randomartworks/"><i class="fa fa-paint-brush text-primary"></i> Random Artworks</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
      </div>
      <div class="col-md-2"></div>
    </div>
  </div><!-- /.container-fluid -->
</nav>