@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import "bootstrap";
@import "var";
body{
padding-top: 80px;
font: 15px/1.5 'PT Serif', serif, Arial;
margin: 0 auto;
word-wrap: break-word;
overflow-wrap: break-word;
}
p,h1,h2,h3,h4,h5,h6{
	margin: auto 0 18px;
}
h1,h2,h3,h4,h5,h6{
	font-family:"Source Sans Pro", "Helvetica Neue", Helvetica;
	font-weight: bold;
	color:#393939;//#494949;
}
blockquote{
	font-style: italic;
}
p{
	text-align: left;
	word-wrap: break-word;
}
h1 {
  font-size:28px;
}

h2 {
  font-size:24px;
}
h3 {
  font-size:22px;
}
h4 {
  font-size:20px;
}
h5 {
  font-size:18px;
}
h6 {
  font-size:16px;
}
code,pre, .highlight{
	font-size: 14px;
	overflow-x: auto;
}
img{
	max-width: 640px;
	width: 100%;
	display: block;
	margin: 0 auto;
}
.panel-default .panel-heading{
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #dfdfdf 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%, #dfdfdf 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdfdfdf', GradientType=0);
}
.media-heading{
	text-align: left;
	word-wrap: break-word;
}
.post{
	.post-title-header{
		margin: 10px auto 40px;
		text-align: center;
	}
}
.terminal{
	margin-left: 10px;
	margin-bottom: -10px;
	font-family: courier new, monospace;
  	font-size: 14px;
}
#terminal{
	font-size: 14px;
	font-family: arial;
}
#code-home{
	font-size: 16px;
	border: none;
}
.content{
	margin: 0 auto;
}
.post {
	p{
	font-size: 105%;
	}
}
#block-q{
	border:none;
}
.navbar-nav li:hover{
	background: $dark-color;
}
/*#bs-example-navbar-collapse-1 a{
	-webkit-transition: background-color 0.5s ease-out;
       -moz-transition: background-color 0.5s ease-out;
         -o-transition: background-color 0.5s ease-out;
            transition: background-color 0.5s ease-out;
}*/
.date-archives-post{
	color: #595959;
}
.gread-float{
	margin-bottom: 15px;
	overflow: hidden;
	clear: both;
}
.gread-float img{
		width: 100px;
		float: left; 
		padding-right: 20px
	}
.profile-picture{
		height: 100px;
        width: 100px;
        position: relative;
        margin: 20px 0 0 5px;
        float: right;
        border-radius: 50%;
        p {
            padding: 0;
            margin: 0;
        }
}
.caption:before{
	content:"(";
}
.caption:after{
	content: ")";
}
.caption{
	margin: 0 0 20px;
	text-align: center;
}
footer{
	font-weight: 600;
	width: 100%;
	height: 100px;
	position: relative;
	bottom: 0;
	display: block;
	padding: 40px;
	p{
		font-size: 94%;
		text-align: center;
	}
}
@media screen and (max-width: 600px){
	#home{
		.terminal{
			font-size: 14px;
		}
		p, code, pre{
			font-size: 14px;
		}
	}
}
@media screen and (max-width: 480px){
	body {
		.post{
			font-size: 100%;
		}
	}
}
@import "syntax";