// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	display: block;
	margin: 14px auto
}
.unstyle-link:hover {
	text-decoration: none;
}
