<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="EN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
          {% assign description = page.description | default: page.excerpt | default: site.description | strip_html | normalize_whitespace | escape %}
        <meta name="description" content="{{ description }}">
      
      <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">       
          {% if page.canonical-url == nil %}
            {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
          {% else %}
            {% assign canonical = page.canonical-url %}
          {% endif %}
        <link rel="canonical" href="{{ canonical }}">

    </head>
<body>
{% include nav.html %}
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-8 content">
      {{ content }}
    </div>
    <div class="col-md-2"></div>
  </div>

</div><!--End Container-->
<div class="navbar-static-bottom">
  {% if site.footer %}
<footer>
  <p>&copy; {{ site.time | date: "%Y" }} &mdash; {{ site.title }}.</p>
</footer> 
{% endif %}
</div>

<!--script-->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/modernizr-custom.js"></script>
<script src="/assets/js/me.js"></script>
</body>
</html>
