<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
        <title>{{ site.title }} | {{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.css">
        <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
        <link rel="stylesheet" href="{{ site.url }}/assets/css/syntax.css">
        <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
    </head>
    <body>
{% include nav.html %}
<div class="container">
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
    {{ content }}
</div>
<div class="col-md-2"></div>
</div>
<div class="row">
<div class="col-md-2"></div>
  <div class="col-md-8">
   <footer>
  <p>&copy; Imam 2017.</p>
</footer> 
  </div>
  <div class="col-md-2"></div>
</div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
    </body>
</html>
