---
layout: default
---
<div class="post">
<div class="post-title-header">
	
	<h2>{{ page.title }}</h2>
	<small id="date-post">
		{{ page.date | date_to_long_string }} &#9679; {{ site.title }} - 
		<span class="reading-time" title="Estimated read time">
  			{% assign words = content | number_of_words %}
  				{% if words < 360 %}
    				1 min read
  			{% else %}
    				{{ words | divided_by:180 }} mins read
  				{% endif %}
		</span>
	</small>
	
</div>
<div class="post">
	{{ content }}
<hr>
<p><a href="{{ site.url }}{{ page.url }}#disqus_thread">-</a></p>
{% if page.comments %}
	{% include disqus.html %}
{% endif %}
</div>
<br>
<center>
	<a class="btn btn-default btn-sm" href="#top"><i class="fa fa-arrow-up"></i> Back to top</a>
</center><br>
</div>