---
layout: default
---
<div class="post">
<div class="post-title-header">
	
	<h2>{{ page.title }}</h2>
	<small id="date-post">
		{{ page.date | date_to_long_string }} - {{ site.title }} - 
		<span class="reading-time" title="Estimated read time">
  			{% assign words = content | number_of_words %}
  				{% if words < 360 %}
    				1 min read
  			{% else %}
    				{{ words | divided_by:180 }} mins read
  				{% endif %}
		</span>
<!-- <<<<<<< HEAD -->
            <!-- <hr class="hr1"> -->
            <hr>
           <!-- <center> <hr class="hr1"></center> -->
<!-- >>>>>>> 135c4e4ed803b5cf0a3dafc6f45f145c193eb641 -->
	</small>
	<hr>
	
</div>
<div class="post">
	{{ content }}
<hr>
{% if page.comments %}
	{% include disqus.html %}
{% endif %}
</div>
<br>
<center>
	<a class="btn btn-default btn-sm" href="#top"><i class="fa fa-arrow-up"></i> Back to top</a>
</center><br>
</div>